<style type="text/css">
  body,
  html, 
  .body {
    background: #f3f3f3 !important;
  }
</style>
<!-- move the above styles into your custom stylesheet -->


<spacer size="16"></spacer>

<container>
  <row>
    <columns large="4">
      <center>
        <img src="http://placehold.it/125x200">
      </center>
    </columns>
    <columns large="8">
      <h1>Megan has invited you to their Trusted Circle on Inlet.</h1>
      <button class="medium" href="#">Accept Invitation</button>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <h3 class="text-center">What the heck is Inlet, you say? We're glad you asked.</h3>
      <p class="text-center">Inlet is NOT another directory. You have enough of those, and we hear they’re not great. Inlet is a community of mental health and complementary medicine practitioners that share resources, easily find trusted referrals, and save time on tasks like client follow-ups. It’s a platform that will give you hours back in your week so you can focus on clients, family, and the fun things in life. Here are a few of the main features:</p>
    </columns>
  </row>
  <row>
    <columns large="4">
      <center>
        <img src="http://placehold.it/50x50">
      </center>
      <h5 class="text-center">Library & Resource Center</h5>
      <p class="text-center">All of your favorite client resources organized in one place plus new ones when you need them</p>
    </columns>
    <columns large="4">
      <center>
        <img src="http://placehold.it/50x50">
      </center>
      <h5 class="text-center">Referrals</h5>
      <p class="text-center">Quickly find the referrals you need via your Trusted Circle</p>
    </columns>
    <columns large="4">
      <center>
        <img src="http://placehold.it/50x50">
      </center>
      <h5 class="text-center">Email Templates</h5>
      <p class="text-center">Make client follow-ups 10x faster</p>
    </columns>
  </row>

  <spacer size="16"></spacer>

  <row>
    <columns>
      <h3 class="text-center">You’ve been invited! Get started and enjoy the benefits the Inlet Community offers.</h3>
      
      <spacer size="16"></spacer>

      <button class="large expand" href="#">Sign Up</button>
    </columns>
  </row>

  <row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p class="text-center">@copywrite nobody<br/>
      <a href="#">hello@nocopywrite.com</a> | <a href="#">Manage Email Notifications</a> | <a href="#">Unsubscribe</a></p>
      <center>
        <menu>
          <item><img src="http://placehold.it/25" alt=""></item>
          <item><img src="http://placehold.it/25" alt=""></item>
          <item><img src="http://placehold.it/25" alt=""></item>
          <item><img src="http://placehold.it/25" alt=""></item>
          <item><img src="http://placehold.it/25" alt=""></item>
        </menu>
      </center>
    </columns>
  </row>

  <spacer size="16"></spacer>

</container>
